<div role="button"
  class="group relative flex items-center w-full p-3 leading-tight transition-all duration-200 ease-out rounded-lg outline-none text-start cursor-pointer hover:bg-slate-100 hover:bg-opacity-80 hover:text-slate-900 focus:bg-slate-100 focus:bg-opacity-80 focus:text-slate-900 active:bg-slate-100 active:bg-opacity-80 active:text-slate-900">
  <div class="grid mr-4 place-items-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
      class="w-5 h-5">
      <path fill-rule="evenodd"
        d="M6.912 3a3 3 0 00-2.868 2.118l-2.411 7.838a3 3 0 00-.133.882V18a3 3 0 003 3h15a3 3 0 003-3v-4.162c0-.299-.045-.596-.133-.882l-2.412-7.838A3 3 0 0017.088 3H6.912zm13.823 9.75l-2.213-7.191A1.5 1.5 0 0017.088 4.5H6.912a1.5 1.5 0 00-1.434 1.059L3.265 12.75H6.11a3 3 0 012.684 1.658l.256.513a1.5 1.5 0 001.342.829h3.218a1.5 1.5 0 001.342-.83l.256-.512a3 3 0 012.684-1.658h2.844z"
        clip-rule="evenodd"></path>
    </svg>
  </div>
  <span [class.hidden]="collapsed">Inbox</span>
  <div class="grid ml-auto place-items-center justify-self-end" [class.hidden]="collapsed">
    <div
      class="relative grid items-center px-2 py-1 font-sans text-xs font-bold uppercase rounded-full select-none whitespace-nowrap bg-slate-500/20 text-slate-900">
      <span class="">14</span>
    </div>
  </div>
</div>
