<div class="sidebar-menu" [class.sidebar-menu--compact]="collapsed">
  <mat-nav-list class="sidebar-nav" [class.sidebar-nav--compact]="collapsed">
    <app-sidebar-dashboard-option [collapsed]="collapsed"></app-sidebar-dashboard-option>
    <mat-divider></mat-divider>
    <app-sidebar-inbox-option [collapsed]="collapsed"></app-sidebar-inbox-option>
    <app-sidebar-profile-option [collapsed]="collapsed"></app-sidebar-profile-option>
    <app-sidebar-settings-option [collapsed]="collapsed"></app-sidebar-settings-option>
    <mat-divider></mat-divider>
    <app-sidebar-sign-out-option [collapsed]="collapsed"></app-sidebar-sign-out-option>
  </mat-nav-list>
</div>

