<div class="sidebar-dashboard"
     [class.sidebar-dashboard--compact]="collapsed">
  <button mat-list-item
          type="button"
          class="sidebar-item sidebar-dashboard__trigger"
          [class.sidebar-item--compact]="collapsed"
          aria-label="Dashboard"
          disableRipple
          routerLink="/dashboard"
          (click)="toggle()">
    <mat-icon matListItemIcon>space_dashboard</mat-icon>
    <span class="sidebar-item__label" *ngIf="!collapsed">Dashboard</span>
    <mat-icon class="sidebar-item__caret" *ngIf="!collapsed">{{ open ? 'expand_less' : 'expand_more' }}</mat-icon>
  </button>

  <div class="sidebar-dashboard__children" *ngIf="open && !collapsed">
    <button mat-button type="button" class="sidebar-child" routerLink="/dashboard/search" [disableRipple]="true">
      <mat-icon class="sidebar-child__icon">trending_up</mat-icon>
      <span>Analytics</span>
    </button>
    <button mat-button type="button" class="sidebar-child" routerLink="/dashboard/trending" [disableRipple]="true">
      <mat-icon class="sidebar-child__icon">bar_chart</mat-icon>
      <span>Reporting</span>
    </button>
    <button mat-button type="button" class="sidebar-child" routerLink="/dashboard/projects" [disableRipple]="true">
      <mat-icon class="sidebar-child__icon">layers</mat-icon>
      <span>Projects</span>
    </button>
  </div>
</div>
